[submodule "plugins/fast-syntax-highlighting/fast-syntax-highlighting"]
	path = plugins/fast-syntax-highlighting/fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting.git
[submodule "plugins/async/zsh-async"]
	path = plugins/async/zsh-async
	url = https://github.com/mafredri/zsh-async.git
[submodule "plugins/autosuggestions/zsh-autosuggestions"]
	path = plugins/autosuggestions/zsh-autosuggestions
	url = http://github.com/zsh-users/zsh-autosuggestions.git
[submodule "plugins/completions/zsh-completions"]
	path = plugins/completions/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "themes/spaceship-prompt"]
	path = themes/spaceship-prompt
	url = https://github.com/denysdovhan/spaceship-prompt.git
[submodule "plugins/safe-rm/shell-safe-rm"]
	path = plugins/safe-rm/shell-safe-rm
	url = https://github.com/kaelzhang/shell-safe-rm.git
